<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="contactForm" [formGroup]="contactForm" role="form" novalidate (submit)="save()">
    <div class="mb-3" *ngIf="data.contact.id !== 0">
      <label for="id" class="form-label">First Name</label>
      <input type="number" class="form-control" id="id" formControlName="id" readonly>
    </div>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
      <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)"
           class="alert alert-danger">

        <div *ngIf="firstName!.errors?.['required']">
          First Name is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
      <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)"
           class="alert alert-danger">

        <div *ngIf="lastName!.errors?.['required']">
          Last Name is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" mask="000-000-0000" id="phoneNumber" formControlName="phoneNumber">
      <div *ngIf="phoneNumber!.invalid && (phoneNumber!.dirty || phoneNumber!.touched)"
           class="alert alert-danger">
        <div *ngIf="phoneNumber!.errors?.['required']">
          Phone Number is required.
        </div>
        <div *ngIf="phoneNumber!.errors?.['mask']">
            Phone Number format 000-000-0000
        </div>
      </div>
    </div>
    <div class="mb-6 text-center">
      <button [disabled]="contactForm.invalid || isSaving" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="modalRef.hide()" [disabled]="isSaving">{{data.closeBtnName}}</button>
</div>
